
body{
    margin:0;
    padding:0;
    font-family:sans-serif;height:100vh;

}




h1{
    color:rgb(19, 18, 18);
    font-size: 50px;
    text-align:center;
    font-weight:700px;

}


p{
    text-align: center;
}
img{
    max-width:300px;
    
}
.price{
    color:rgb(10, 10, 10);
    font-size:20px;
    font-weight: 600px;
    text-align: left;
}
span{
    color:rgb(231, 17, 17);
    font-size:20px;

}
span2{
    color:#059862;
    font-size:20px;
    

}

.price2{

    text-align:left;

}
span2:hover{

    font-size:25px;

}
